﻿@model Grupo7_Market.Models.Factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.NombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.NombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden.OrdenId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden.OrdenId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenDetalle.DetalleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenDetalle.DetalleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacturaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
