﻿@model IEnumerable<Grupo7_Market.Models.Factura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orden.OrdenId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenDetalle.DetalleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.NombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orden.OrdenId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenDetalle.DetalleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FacturaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FacturaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FacturaId })
        </td>
    </tr>
}

</table>
