﻿@model IEnumerable<Grupo7_Market.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Producto</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidadMedidas.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clasificacionProducto.Clasificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductoId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Codigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaCreacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.unidadMedidas.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.clasificacionProducto.Clasificacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.ProductoId }, new { @class = " btn btn-warning" }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.ProductoId }, new { @class = " btn btn-info" }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductoId }, new { @class = " btn btn-danger" })
    </td>
</tr>
    }

</table>
