﻿@{
    ViewBag.Title = "Contactanos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gmail.com">Support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hotmail.com">Marketing@gmail.com</a>
</address>