﻿@model Grupo7_Market.Models.Orden

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Orden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clientes.NombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientes.NombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.OrdenId }, new { @class = " btn btn-warning" }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
