﻿@model IEnumerable<Grupo7_Market.Models.Orden>

@{
    ViewBag.Title = "Index";
}

<h2>Orden</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrdenId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clientes.ClienteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrdenId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.clientes.ClienteId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaCreacion)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.OrdenId }, new { @class = " btn btn-warning" }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.OrdenId }, new { @class = " btn btn-info" }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.OrdenId }, new { @class = " btn btn-danger" })
    </td>
</tr>
    }

</table>
