﻿@model Grupo7_Market.Models.UnidadMedidas

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>UnidadMedidas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UnidadId }, new { @class = " btn btn-warning" }) |
    @Html.ActionLink("Volver a lista", "Index")
</p>
