﻿@model IEnumerable<Grupo7_Market.Models.UnidadMedidas>

@{
    ViewBag.Title = "Index";
}

<h2>Unidad Medidas</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnidadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UnidadId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Codigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.UnidadId }, new { @class = " btn btn-warning" }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.UnidadId }, new { @class = " btn btn-info" }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.UnidadId }, new { @class = " btn btn-danger" })
    </td>
</tr>
    }

</table>
