﻿@model Grupo7_Market.Models.ClasificacionProducto

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>ClasificacionProducto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clasificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clasificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ClasificacionId }, new { @class = " btn btn-warning" }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
