﻿@model IEnumerable<Grupo7_Market.Models.Clientes>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ClienteId } , new { @class = " btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ClienteId }, new { @class = " btn btn-info" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ClienteId }, new { @class = " btn btn-danger" })
            </td>
        </tr>
    }

</table>
